[2019-03-28 15:43] davist11 opened #2 "Composer error"
Craft: Craft Pro 3.0.27.1
PHP: 7.1.20

We are getting a composer error when trying to install

[code]

Let me know if there are any additional details I can provide.

[2019-03-28 16:24] sidedwards commented on #2
@davist11 Looks like your config.platform setting in your composer.json needs to be bumped to match your PHP version.

[code]

Another way of setting the composer PHP version
[code]

Let me know if this solves the issue for you.

[2019-03-28 17:50] davist11 commented on #2
Ah yep, that did it. Thanks!

[2019-03-28 17:50] #2 closed

[2019-04-17 01:59] nicolasconnault opened #5 "Couldn't install plugin"
The plugin downloaded fine, and was added to composer just fine, but won't install in Craft.

Here's the log file:

[code]

And my composer.json file:
[code]

[2019-04-17 02:04] sidedwards commented on #5
@nicolasconnault Are you receiving any errors after clicking "Install"?

[2019-04-17 02:13] nicolasconnault commented on #5
@sidedwards yes, a red notification at the top saying "Couldn’t install plugin"
![Screenshot from 2019-04-17 10-12-19](https://user-images.githubusercontent.com/79558/56255951-5cb50080-60f9-11e9-997d-a003ede4b82a.png)

[2019-04-17 02:16] nicolasconnault commented on #5
@sidedwards if I install via the Plugin Store, it goes through the updating of composer dependencies, then shows the Tick icon with "All done", but when I go to the list of installed plugins, it's listed as not installed.

[2019-04-17 02:19] sidedwards commented on #5
@nicolasconnault Can you provide any additional PHP error logs?

[2019-04-17 02:31] nicolasconnault commented on #5
Sorry there are no PHP errors being logged at all besides what's in storage/logs/web.log

[2019-04-17 02:46] sidedwards commented on #5
@nicolasconnault Have you tried installing manually via the CLI?

[code]

Are there any errors that appear there?

[2019-04-17 02:52] nicolasconnault commented on #5
@sidedwards aha! I think you have a postgresql incompatibility here:

[code]

[2019-04-17 04:47] nicolasconnault commented on #5
Fixed the installation by replacing 'values' with 'status' on lines 81, 123, 150 of src/migrations/install.php

[2019-04-17 04:51] nicolasconnault opened #6 "cURL error 28: Operation timed out after 2000 milliseconds with 0 out of 0 bytes received"
After successful installation, accessing the Translations menu gives this error:
(I do have to wonder why this module costs $1,000 when it's so buggy)
[code]

[2019-04-17 06:35] nicolasconnault opened #7 "Can't create a new translator entry"
Tried to create an import/export translator, and this error came up:
[code]

[2019-04-17 20:09] sidedwards commented on #5
Hi @nicolasconnault, thanks for submitting these issues. We're working on adding better support for PostgreSQL. I'll include fixes for https://github.com/AcclaroInc/craft-translations/issues/5, https://github.com/AcclaroInc/craft-translations/issues/7, in a 1.1.0 version of the plugin. Thanks for your patience while we resolve these.

[2019-04-18 00:11] nicolasconnault commented on #5
Thanks!

Just curious, how many sales have you had? Because $1,000 for a module is a
LOT of money, plus you have to pay extra for translation services.
Also, Craft CMS already has multi-language support, so I'm not sure what
your extension brings to the platform.

Regards,

Nicolas Connault
-------------------------------
Skype: nicolasconnault
Blog: http://nicolasconnault.wordpress.com
Photos: ht

[2019-04-18 00:33] sidedwards commented on #5
@nicolasconnault Thanks for the input! It's currently geared towards enterprise-level multi-sites with large quantities of entries that need translations. Craft does support multi-language in the sense that it allows you to store field values per site but with hundreds or thousands of entries, it can become difficult to manage.

The plugin allows entry content to be bulk translated from a source l

[2019-05-06 20:53] linchpinstudios opened #8 "Translating Asset Fields"
We have an 'alt' field on our assets that needs to be translated, how do we add the fields on assets that need to be translated to an order?

[2019-05-07 21:55] sidedwards commented on #8
@linchpinstudios We don't currently have support for asset alt fields but have plans to add it in the near-term future.

[2019-05-14 20:56] jasonmckinney66 opened #9 "Cannot "Create New Order" from entry"
After creating a Translator and navigating to an entry, "Create New Order.." is unavailable from combo button dropdown.

Running Craft CMS 3.0.41.1 with Translations 1.0.2 demo.

<img width="358" alt="Screenshot 2019-05-14 13 48 21" src="https://user-images.githubusercontent.com/5642154/57731490-9cff9400-764f-11e9-9d4f-a961d63770fa.png">

[2019-05-14 21:24] jasonmckinney66 commented on #9
Resolved. Had to create a second site first.

[2019-05-14 21:24] #9 closed

[2019-05-14 21:27] jasonmckinney66 opened #10 "Cannot Test Import/Export with Demo Version"
Running the demo, seems like it is impossible to save an Order and therefor impossible to test the Import/Export functionality. Am I missing something? Thanks in advance.

[2019-05-14 21:32] sidedwards commented on #10
@jasonmckinney66 Hi Jason, in trial mode you can "submit" single entry orders but the "save" functionality is disabled as it's primarily used for adding multiple entries to an order (bulk translating).

Does that answer your question?

[2019-05-14 21:35] jasonmckinney66 commented on #10
Hi. Thanks for the quick response. Sounds like it's not possible to test the Import/Export functionality. Is it possible to get to this screen in Trial Mode?
<img width="589" alt="Screenshot 2019-05-14 14 33 29" src="https://user-images.githubusercontent.com/5642154/57733937-8e1be000-7655-11e9-8156-0989438fb46c.png">

[2019-05-14 21:37] sidedwards commented on #10
@jasonmckinney66 It is possible to test Import/Export in trial mode. Have you created a local translator prior to creating the order?

[2019-05-14 21:39] jasonmckinney66 commented on #10
Yes. I have created a translator and created an order by selecting an entry.
<img width="512" alt="Screenshot 2019-05-14 14 38 03" src="https://user-images.githubusercontent.com/5642154/57734095-f9fe4880-7655-11e9-9d23-8d1883445217.png">

[2019-05-14 21:39] sidedwards commented on #10
@jasonmckinney66 Okay, and on the order submission page, do you see a "Submit" button at the bottom?

[2019-05-14 21:41] jasonmckinney66 commented on #10
Yes. I have it.

<img width="961" alt="Screenshot 2019-05-14 14 41 29" src="https://user-images.githubusercontent.com/5642154/57734257-5fead000-7656-11e9-92ec-d569372a3d71.png">

[2019-05-14 21:44] sidedwards commented on #10
@jasonmckinney66 Okay, once you submit the order you should be able to see it in the "Orders" tab where you can click into for more details and Export/Import.

Are you receiving any errors during submission?

[2019-05-14 21:47] jasonmckinney66 commented on #10
No errors. The screen refreshes and the order process seems to start over. If I navigate directly to the orders tab, there is no order.

<img width="993" alt="Screenshot 2019-05-14 14 45 30" src="https://user-images.githubusercontent.com/5642154/57734648-2e263900-7657-11e9-8500-3e35ef786d05.png">
<img width="536" alt="Screenshot 2019-05-14 14 47 09" src="https://user-images.githubusercontent.com/5

[2019-05-14 22:31] sidedwards commented on #10
@jasonmckinney66 I'm sorry to hear that you're having trouble creating an order, would you be available for a screen-share tomorrow to review the site configuration? Alternatively, you can send a copy of the database to support@acclaro.com along with a link to this issue so that we can reproduce on our end.

In the meantime, maybe double check your Section site settings to ensure it's enabled for

[2019-05-14 22:48] jasonmckinney66 commented on #10
Yes. I can be available during working hours in PST. I will email you at support so you have my direct email. Thanks for the excellent service.

[2019-05-15 12:54] verbeeksteven opened #11 "Not super obvious if you need to pay for translations?"
Hello,

I am not sure it is obvious but do I have to pay for translations using acclaro? Or does the $999 include translations? Is there limits? Would be nice to have a few more of those type of details on the readme/wiki/plugin details.

Thanks,

[2019-05-15 15:22] michaelkriz commented on #11
@verbeeksteven Hi Steven, The $999 is for the plugin license and doesn't include Acclaro's translation service. Once you purchase the plugin you can get an optional API token for Acclaro's translation platform along with a pay-as-you-go service plan for professional translation services. Or you can export the content for translations elsewhere. We'll make sure to add this clarification and details

[2019-05-16 21:27] #10 closed

[2019-05-28 23:49] sidedwards commented on #10
This issue was related to "Propagate entries across all enabled sites" setting being disabled in _Sections_ which caused order submission failure.

Wiki reference: [Getting Started: Sections](https://github.com/AcclaroInc/craft-translations/wiki/Getting-Started#sections)

[2019-06-11 16:05] #11 closed

[2019-06-11 23:43] vikdialpad commented on #5
@sidedwards
Hi there, I'm also trying to install on a Postgres DB and am getting the following error:
`db_1        | 2019-06-11 23:36:47.850 UTC [207] ERROR:  column "values" does not exist
db_1        | 2019-06-11 23:36:47.850 UTC [207] STATEMENT:  CREATE TABLE "dp_translations_files" (
db_1        | 		"id" serial NOT NULL PRIMARY KEY,
db_1        | 		"orderId" integer NOT NULL,
db_1        | 		"

[2019-06-11 23:59] sidedwards commented on #5
Hi @vikdialpad, thanks for reaching out. PostgreSQL support is at the top of our list for our next release which will be available early next week. I'll post an update in this thread as soon as it's released.

[2019-06-12 17:01] vikdialpad commented on #5
Thanks for the follow up, that's great to hear. We're looking forward to the added postgres support.

[2019-06-25 19:28] sidedwards commented on #5
Hi, @vikdialpad @nicolasconnault Thanks for you're patience while we worked on this issue. I just wanted to inform you that [v1.1.0](https://github.com/AcclaroInc/craft-translations/releases/tag/1.1.0) includes support for PostgreSQL databases.

[2019-06-25 19:28] #5 closed

[2019-06-25 19:29] sidedwards commented on #7
Fixed in [v.1.1.0](https://github.com/AcclaroInc/craft-translations/releases/tag/1.1.0)

[2019-06-25 19:29] #7 closed

[2019-06-25 19:38] sidedwards commented on #6
This is due to a low PHP timeout setting when trying to fetch data for the News dashboard widget.

Ensure that you're using a [recent version of cURL on the server](https://docs.craftcms.com/v3/requirements.html#required-php-extensions)

Try bumping your [PHP max_execution_time to the default setting](https://www.php.net/manual/en/info.configuration.php#ini.max-execution-time)

If neither of those

[2019-06-25 19:38] #6 closed

[2019-06-27 14:34] Mosnar opened #13 "Blocks do not appear in translation export if they are not managed on per-site basis"
I was trialing the plugin for a client who is currently getting a quote for a website translation job from Acclaro; however, I ran into a snag where fields with blocks (such as Supertable or Matrix) that have their blocks set to NOT be managed on a per-site basis, but have translatable content, do not appear as translatable content to this plugin.

For example, consider you have a content builder

[2019-06-27 14:50] Mosnar opened #14 "Button to create translation order on element index not appearing"
I'm trialing this plugin for a client who is getting a quote for a site translation from Acclaro; however, there doesn't appear to be a button showing up to add multiple entries to an order on the element index screen. I am only able to create an order for a single entry once I've clicked into it. Having used the Craft 2 version, I don't believe this is expected behavior.

![image](https://user-im

[2019-06-27 14:55] sidedwards commented on #14
Hi, @Mosnar bulk translations are not available during the trial period. Once a license key is added bulk ordering is automatically enabled.

https://github.com/AcclaroInc/craft-translations#important-notes

[2019-06-27 14:55] #14 closed

[2019-06-27 14:59] Mosnar commented on #14
Understood - makes perfect sense! As a note of feedback, I think it would be beneficial to be able to bulk-translate entries as long as they are sent directly to Acclaro for a quote. I'm currently working with Elizabeth at Acclaro to get an accurate word-count for a large translation estimate for our client, and this limitation makes that impossible to do accurately.

[2019-06-27 15:02] sidedwards commented on #14
Duly noted. We can look into implementing this down the road. In the meantime, you can contact me at sid@reboundcreative and we can discuss in detail.

Thanks!

[2019-06-27 15:08] sidedwards commented on #13
Hi, @Mosnar thanks for submitting this issue. In most cases when nested SuperTable or Matrix content is marked translatable, we just enable the parent block as well so the entire block structure is exported. That said, I'd be curious to see the use case in person. If there are legitimate reasons to keep the parent block disabled with nested fields enabled we'd be happy to add support.

[2019-06-27 17:20] ifrimere commented on #13
Hi Ransom (@Mosnar) - in addition to the use case explanation, it would be great to have an understanding of how much source content is impacted by this situation, and if there's a workaround on the dev side, or if editing the capability of the translation plugin is a must-have for this end client's translation workflows. Thanks, Ira

[2019-08-13 23:35] vikdialpad opened #19 "Import xml/zip file to translation order failing"
There seems to be a bug when we tried to import xml/zip file to translation order.
Following is SQL error message we’re getting when `Go!` button is clicked after xml/zip file is uploaded to field above:
`SQLSTATE[23502]: Not null violation: 7 ERROR: null value in column "id" violates not-null constraint
DETAIL: Failing row contains (null, 1, 5, Talk Page, トークページ, 2019-08-13 21:39:54, 2019-08-13 2

[2019-08-13 23:45] sidedwards commented on #13
@Mosnar Our next release addresses this and will be able to pull "translatable" content out of nested fields (Matrix, SuperTable, Neo) even if the block itself is managed globally.

[2019-08-13 23:46] sidedwards commented on #19
@vikdialpad Could you please share which version of the plugin you're using?

[2019-08-13 23:52] vikdialpad commented on #19
@sidedwards plugin version is 1.1.1

[2019-08-14 14:29] stephanwergles opened #20 "Error deleting assets or entries"
Hi,

i have installed translation plugin v1.1.1 and Craft 3.0.41. When I try to delete any asset or entry, it gives me an error notification of "An unknown error occurred." and the asset or entry remains. When I disable the translation plugin, deleting works again as usual. I tested on different environments, all same scenario.

Does anybody have an idea what could be the issue here and how to fix

[2019-08-14 22:08] sidedwards commented on #19
Hi @vikdialpad I tested with the following requirements and didn't run into any issues on import
- Craft: 3.1.33
- PHP: 7.1
- PGSQL: 9.6

It's possible that it is a file or settings configuration issue. Please email me at sid@reboundcreative.com so I can get some additional details.

[2019-08-14 22:46] sidedwards commented on #20
@stephanwergles v1.1.1 of the plugin actually requires Craft 3.1+ which supports soft-deletes. I would recommend upgrading Craft to 3.1+ or use [version 1.0.2 of the plugin](https://github.com/AcclaroInc/craft-translations/tree/1.0.2)

I'll go ahead and make ^3.1 a requirement in our composer settings for v1.1.1. Thanks!

[2019-08-14 22:46] #20 closed

[2019-08-23 22:55] sidedwards commented on #13
Hi @Mosnar this was resolved in v1.2.0. I recommend updating to the latest version and confirming if that resolves the issue.

[2019-08-23 22:55] #13 closed

[2019-08-30 16:57] ifrimere opened #24 "3.2 Publishing Functionality Update"
In the current 1.2 version of the Plugin, 'updating' Translation Drafts has undesirable consequences with other multisite Entry drafts reverting any recent changes made to them. (Reference core CraftCMS posted issue: https://github.com/craftcms/cms/issues/4642)

To better work with Craft 3.2's treatment of single Draft Entries, the Translations Plugin will be updated to directly "Save" delivered t

[2019-08-31 13:16] ifrimere commented on #19
This issue is in progress of being fixed. It will be included in a v1.1.x patch (for Craft 3.1 sites) and also placed into the 1.2.x master code branch (for Craft 3.2+ sites)

[2019-09-03 18:06] vikdialpad commented on #19
That's great to hear. Thank you. Any idea on the timeline ?

[2019-09-03 18:46] ifrimere commented on #19
Hi @vikdialpad - we are feeling pretty good about having this fix ready before the end of the week. There are just a couple more tests we need to run through.

[2019-09-05 14:43] ifrimere commented on #19
@vikdialpad - can you try out the 1.1.2 release here: https://github.com/AcclaroInc/craft-translations/releases/tag/1.1.2 and let us know if your issue is resolved. Thanks.

[2019-09-05 17:31] vikdialpad commented on #19
@ifrimere awesome, I'll definitely try it out and follow up. Thanks!

[2019-09-14 00:15] #19 closed

[2019-09-14 00:15] #24 closed

[2019-09-24 00:21] ryotadialpad opened #26 "Translations Plugin dashboard page gives SSL error"
Repro step:
1. install Plugin
2. go to {admin}/translations

When I land on page, it displays following error:
GuzzleHttp\Exception\RequestException: cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) in /usr/share/nginx/vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php:186

Even though site is certified with SS

[2019-09-24 00:33] ryotadialpad opened #27 "Order not picking up translatable fields"
Repro Steps: (assuming Multi site is already enabled and section has that multi site light switch turned on. and field's translation method is set to Translate for each Site)
1. Install Translation plugin
2. Create new section with multi site enabled
<img width="1101" alt="Screen Shot 2019-09-23 at 5 27 58 PM" src="https://user-images.githubusercontent.com/46463521/65472317-c911f980-de27-11e9-9e0c

[2019-09-24 03:11] sidedwards commented on #26
https://github.com/AcclaroInc/craft-translations/commit/703e100c3a8fd4f9e9673b8cf61b57b661e22328 fixed this. Will include in the next patch release.

[2019-09-24 03:11] #26 closed

[2019-09-24 22:42] sidedwards commented on #27
@ryotadialpad I've tested this with the environment information above and am unable to reproduce the issue.

Can you provide access to a staging environment so we can reproduce? Please send staging credentials to sid@reboundcreative.com

[2019-09-25 16:21] ryotadialpad commented on #27
@sidedwards thanks for the reply, I'm setting environment for you at this moment. will send you credential soon as one is ready for you

[2019-10-07 18:16] sidedwards commented on #27
Just updating this thread. Issue was caused by a 301 redirect issue on the host environment and was not related to the plugin.

[2019-10-07 18:16] #27 closed

[2019-12-16 09:30] ostark opened #31 "Prevent toArray() on null -"
The method `FileRepository::getFileById()` throws an Excetion when `FileRecord` not found and toArray() is called on `null`.

[code]

[2019-12-16 20:33] sidedwards commented on #31
Hi @ostark, thanks for submitting this issue. The fix for this will be included in our 1.4 release which will be publicly available within the next couple of days.

[2019-12-16 20:33] #31 closed

[2020-02-21 23:24] gregkohn opened #48 "Compatibility with Craft 3.4.7.1?"
I'm having trouble accessing any page -- admin or frontend -- since updating Craft to **3.4.7.1**.

Seeing the following error:

[code]

Removing the plugin eliminates the error. I tested this with plugin versions of **1.4.3** and **1.2.1**. Any chance there's something that needs to be patched on this end?

[2020-02-22 21:26] ifrimere commented on #48
Hi Greg - we are actively working on version 1.5.0 of the plugin that will be compatible with Craft 3.4.x. Current and previous plugin versions are not compatible with 3.4.x so we are working hard to have plugin v1.5.0 ready before end of the month. If you have any 3.4 translation content needs that can’t wait until the end of the month let us know and we can see if a beta version of 1.5 could be

[2020-02-24 13:50] blafferty commented on #48
Hi @gregkohn, Thank you for your post. Do you have a few minutes to discuss the plugin sometime this week? We'd like to learn a little more about your use case to better support you. Is Viget planning to localize?
Kind regards,
Bill (blafferty@acclaro.com)

[2020-02-24 19:49] gregkohn commented on #48
@ifrimere Thanks for the quick response! That makes sense and that timeline is perfectly fine for us 👍

@blafferty Sure, I can chat. It's actually one of our clients who is using the plugin to localize for their ecommerce site. This is still an in-progress effort, but I can do my best to answer any questions you have or pass them on to those who would know. Let me know. Greg (greg.kohn@viget.com)

[2020-02-25 12:22] blafferty commented on #48
@gregkohn Thanks for letting me know. Will reach out by email with a few times to put on the calendar. Looking forward to speaking soon. -Bill

[2020-02-27 22:05] ifrimere commented on #48
@gregkohn - version 1.5.0 of the plugin is now available: https://plugins.craftcms.com/translations.

Please let us know any issues you run into installing it on Craft 3.4.x versions. Thank you.

[2020-02-27 22:05] #48 closed

[2020-04-07 16:41] khamer opened #57 "Plugin stops static translations from working"
It looks to me like the Acclaro Translation plugin blocks loading static message translations.

[These lines in TranslationRepository.php](https://github.com/AcclaroInc/craft-translations/blob/cffc251d9db70302291fac33817d6948360c1fff/src/services/repository/TranslationRepository.php#L143-L165) load Acclaro's translations into Craft/Yii's translation stuff, but because of [this line in Yii's Messag

[2020-04-07 16:58] sidedwards commented on #57
Hi @khamer nice catch, thanks for submitting this issue. We'll take a look at this and get a fix out as soon as we can.

Thanks!

[2020-04-13 19:12] sidedwards commented on #57
@khamer Thanks for your patience with this, we included a fix in [v1.6.0](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.6.0). We're now using a namespaced category for static translations so we don't interfere with static site translations.

To use the plugin's static translations (for displaying translated dropdowns/multiselect field values) you can use `{{ 'some string'|t('tra

[2020-04-13 19:12] #57 closed

[2020-04-28 12:40] joelstrom opened #59 "Unable to modify and browse "Messages""
Hello

I am unable to browse the messages section through the pagination. Every time I press one of the arrows or page numbers it reloads the same page view again. There is some Javascript error that happens each time (Cannot read property 'split' of undefined).

Search doesn't seem to do anything either, but I am guessing that it's related to the same problem.

Craft CMS 3.4.17.1
Translations 2.0

[2020-04-28 13:02] blafferty commented on #59
Hi @joelstrom , Thanks for your note. We're taking a look at this, will circle back.

Kind regards,
Bill

[2020-04-28 13:39] blafferty commented on #59
Hi @joelstrom ,

Could you share a few screenshots to help us better understand the issue? I'd be happy to jump on a call with you and do a screenshare to start troubleshooting.

Thanks.
Bill

[2020-04-28 18:01] joelstrom commented on #59
Hello @blafferty

I am sorry, I confused this plugin for another one completely (MutationDigitale/craft3-translate).
You can close/delete this issue!

- Joel

[2020-04-28 18:11] #59 closed

[2020-07-08 14:17] matthewmrotter opened #70 "Non breaking spaces cause error on import"
When importing an XML file, if there's an nbsp; in the document it causes an error on import.

Deleting the space and re-uploading fixes the issue

[2020-07-08 14:42] ifrimere commented on #70
@matthewmrotter - thank you for reporting this. What the space in the filename or in the actual file somewhere? I just tried importing a zip file with a space in the file name and wasn't able to repro the error. Any additional details you can provide are appreciated.  Thanks.

fyi @sidedwards

[2020-07-08 14:50] matthewmrotter commented on #70
Here's the exact line

`    <content resname="faqs.1328983.question.1328985.question">Qu'est-ce que la RPA connectée&nbsp;?</content>`

It also throws an error when trying to open the XML file inside of a browser.

[2020-07-08 15:03] ifrimere commented on #70
@matthewmrotter - thanks for the update.  Given this is technically 'invalid XML', I don't see this as a bug with the Translations plugin. Do you agree?

![image](https://user-images.githubusercontent.com/20604655/86935289-a7f66d00-c10a-11ea-8462-8abba786629b.png)

[2020-07-08 15:11] matthewmrotter commented on #70
Good point!

We sent it over and then tried to import via import/export and it threw us a bug. So it was a translator on the Acclaro side that added in a non-breaking space.

The member of our team who tried to import isn't familiar with reading XML documents so was confused why it was wasn't importing.

Not sure if the fix is making sure translators don't use that type of spacing, removing these

[2020-07-08 15:15] ifrimere commented on #70
@matthewmrotter - agreed, this is a bug with the translation file delivery. I will report it to our localization engineering department who can possibly script a warning in our CAT tool to avoid this condition from happening again. Thank you for bringing this to our attention.

[2020-07-09 20:18] taylordaughtry opened #71 "Is the plugin compatible with `project.yaml` and multiple environments?"
Hi!

I'm encountering an issue where the plugin doesn't seem to install "properly" when using multiple environments, some with disabled admin changes. Specifically, I'm seeing this error when attempting to sync `project-config` in another environment:
`Changes to the project config are not possible while in read-only mode.`

I'd imagine that since admin changes are disabled, and installing this pl

[2020-07-09 20:45] sidedwards commented on #71
Hi @taylordaughtry thanks for bringing this to our attention, we'll investigate including [projectConfig support](https://docs.craftcms.com/v3/extend/project-config.html#implementing-project-config-support) in an upcoming release.

[2020-07-09 21:10] taylordaughtry commented on #71
@sidedwards  Thanks; I appreciate the fast response! Do you have a rough idea of timeline? (Days, weeks, or months?)

[2020-07-09 22:03] sidedwards commented on #71
@taylordaughtry just curious, have you tried running `composer install` [prior to attempting the sync](https://docs.craftcms.com/v3/project-config.html#caveats)?

[2020-07-10 14:05] taylordaughtry commented on #71
@sidedwards I have! It's a part of the deployment workflow. (And it occurs before the sync, to be sure everything's in place for it)

[2020-07-10 14:09] taylordaughtry commented on #71
Thinking through the process, I wonder if it's not the `migrate/all` that's causing the issue?

[2020-07-14 22:53] sidedwards commented on #71
@taylordaughtry thanks for bringing this issue to our attention. This issue should be resolved in [v1.7.1](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.7.1)

[2020-07-17 20:28] taylordaughtry opened #77 "Add support for Volumes to address an import error when using separate web/worker instances."
Hey!

For projects where the instance processing the job and the instance serving the CP are different, the plugin's `Updating translation drafts` job currently throws an error due to a missing file. (Since the upload is in the `tempuploads` directory of the worker instance, it wouldn't be in the `tempuploads` directory of the CP instance.)

[code]

It'd be awesome if we could tell the plugin to u

[2020-07-17 21:29] ifrimere commented on #77
@taylordaughtry - supporting a multi-server Craft configuration is on our roadmap but we don't have a firm ETA for its support  just yet. We'll investigate some more next week and let you know.  (fyi @sidedwards)

[2020-07-20 20:56] sidedwards commented on #77
@taylordaughtry have you looked into setting up a NFS for your storage directory?

- https://craftcms.stackexchange.com/questions/4719/load-balancing-nodes-configuration-3-craft-nodes-behind-f5-big-ip/4729#4729
- https://craftcms.stackexchange.com/questions/18687/do-servers-in-a-multi-server-craft-setup-need-to-share-a-storage-directory

[2020-07-21 15:13] taylordaughtry commented on #77
@sidedwards Unfortunately, because of Heroku's architecture we can't mount NFS and share it between the two instances.

[2020-07-21 15:34] taylordaughtry commented on #77
Update on the above—looks like it's not possible. Since we can't mount a shared filesystem between the two instances, we're out of options, short of forking it on our side and updating the plugin!

[2020-07-21 15:58] taylordaughtry commented on #77
At a high-level, the patch would essentially be updating the code around this line to use a Volume (which could be specified as a plugin setting), then saving the file to that Volume and passing the Asset ID to the Job.

[2020-07-21 18:45] ifrimere commented on #77
@taylordaughtry - we are investigating this feature for support in an upcoming sprint later this month or latest, early next month

[2020-07-22 18:34] #70 closed

[2020-07-24 21:02] sidedwards commented on #77
Volumes support was added in [v1.7.2](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.7.2) courtesy of @taylordaughtry.

PR https://github.com/AcclaroInc/craft-translations/pull/82

[2020-07-24 21:02] #77 closed

[2020-07-27 13:55] taylordaughtry opened #86 "Should the Target Site of an Order have a foreign key to the Site, so it's deleted when the target Site is deleted?"
While I was testing locally, I encountered a minor issue where the Orders index screen threw an error—

`SiteRepository@getSiteLanguageDisplayName()@179: getLocaleById() requires string, null given`: https://github.com/AcclaroInc/craft-translations/blob/b66d6ccd82812cbef8f1528227d53e2f525b07f1/src/services/repository/SiteRepository.php#L175-L182

The issue stemmed from a few orders I made for a Si

[2020-07-27 15:56] ifrimere commented on #86
@taylordaughtry - thanks for posting this. We will look into a fix in an upcoming sprint. If it's something that does start to become more of an issue for you and your client, please let us know and we can try to escalate a fix, or if you decide to fix on your own, please do submit another PR. Thanks.

[2020-07-27 16:39] taylordaughtry commented on #86
Hey! Sure; will do. Definitely not a blocker at all, moreso just a thing I wanted to note for future reference. Thanks!

[2020-07-27 18:09] taylordaughtry opened #88 "Use Craft's native XML export feature when generating XML for orders."
This is 100% a feature request, to be clear:

It'd be fantastic if we were able to export content with the (now) native XML exports. It'd let the plugin 'lean' on Craft's developers to provide support for various fields, taking a significant load off support needs.

The biggest barrier is the significant difference in XML structure between Craft's exports and this plugin's—that's likely where most

[2020-07-27 18:24] ifrimere commented on #88
@taylordaughtry - thanks for sharing this idea! We'll do some investigation of the strengths and any weaknesses related to Craft's native export XML functionality vs. how the Translation plugin currently builds out its export files (which the import files need to keep the header structure of, so when time for importing translations, all the translated content can properly go where it's supposed to

[2020-07-28 18:11] semantic-support commented on #88
Thank you @taylordaughtry and @ifrimere for bringing this to our attention. We'll do some investigation on this feature request and be sure to notify you on its progress.

[2020-07-31 19:37] gregorydavidjenkins opened #89 ""New Translation" button no longer appears on Edit Entry Screen"
In a recent Craft update (3.4.29), the hidden form element on the Edit Entry screen that Craft Translations uses to get the Entry ID has had a name change, which causes the "New Translation" button to not render on the Edit Entry screen.

getEditEntryId is looking for a field with name "entryId": https://github.com/AcclaroInc/craft-translations/blob/b66d6ccd82812cbef8f1528227d53e2f525b07f1/src/ass

[2020-07-31 20:32] sidedwards commented on #89
@gregorydavidjenkins thanks posting this issue, we actually just caught this as well and will include a patch in our v1.8.0 which is expected to be released early next week.

In the meantime, you can add Entries via the "Create New Order" action on the Translation dashboard.

Thanks!

[2020-08-07 15:38] sidedwards commented on #89
@gregorydavidjenkins this is resolved in [v1.8.0](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.8.0)

[2020-08-07 15:38] #89 closed

[2020-08-07 15:40] sidedwards commented on #8
Support for translating Asset fields was added in [v1.8.0](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.8.0)

[2020-08-07 15:40] #8 closed

[2020-08-07 15:55] taylordaughtry opened #95 "Does/can the plugin allow Entries to be translated to other Sites regardless of the Section's propagation setting?"
The client I'm working with wants Entries that are only on a specific Site. However, the Translations plugin requires that a Section's propagation setting be set to `ALL` ("Save entries to all sites enabled for this section").

**This means that anyone using the plugin can't have content that's unique to a Site.**

Removing this limitation would mean that attempting to translate an Entry to a Site

[2020-08-07 19:37] gregorydavidjenkins opened #96 "getDraftsByGlobalSetId function uses a site handle to look up GlobalSetDraftRecords, but it should use an ID"
When I navigate to a global set in the CP, the first one works because there is no site handle in the URL, but if I navigate to another global set, the site handle gets added to the URL. In my case, either 'default' or 'de'. Eventually that handle from the URL gets matched and used to retrieve drafts for the global. Any of these global set CP pages with the site handle in them throw an error:

`SQ

[2020-08-11 21:09] #96 closed

[2020-08-17 16:24] taylordaughtry commented on #71
@sidedwards  I think we're seeing this issue again, and it'll actually require the project config to be checked—the newest migration (adding the categorydrafts table) is causing the same error when running on staging.

The docs for Craft note this exact situation here; it's worth checking out (under "Consider this scenario"):
https://craftcms.com/docs/3.x/extend/project-config.html#project-config-

[2020-08-17 21:10] gregorydavidjenkins opened #99 "Extra "space" character being injected into resname attribute causing incomplete imports"
I have a few fields (specifically dropdown and radio buttons) that contain layout-related settings like **Green** (with a value of `button--secondary`) or **Blue** (with a value of `button--tertiary`), in the case of another field **Medium** (with a value of `font--m`) ... and so on. Essentially the values of these fields control CSS class on the front-end (the template outputs the value into a cl

[2020-08-18 01:26] blafferty commented on #99
@gregorydavidjenkins  -- Thank you for your post. Confirming that we are looking into it.

[2020-08-18 19:41] sidedwards commented on #71
Hi @taylordaughtry would you mind testing the following code for `m200617_105526_create_category_draft_table.php`

[code]

[2020-08-19 14:02] taylordaughtry commented on #71
Sure; testing that now!

[2020-08-24 14:43] taylordaughtry commented on #95
@sidedwards This is now a blocker for some issues the client's currently having—

Since the plugin requires the `ALL` setting, reverting to a revision changes the content on all Sites, not just the one being currently viewed. (So they can't use revisions if they also want to use this plugin.)

[2020-08-24 15:52] sidedwards commented on #99
@gregorydavidjenkins The extra space in the resname was caused during translation and not during the export/import process. That said, we can add an XML check to compare source v.s. target resnames on import and fail the file if they don't match.

[2020-08-27 16:41] sidedwards commented on #71
@taylordaughtry did the updated migration above resolve the issue you were experiencing?

[2020-08-28 18:09] taylordaughtry commented on #71
@sidedwards  Hi! Follow up here—the issue was on our side; Heroku was deploying in such a way that the `project.yaml` changes weren't on the server when migrations were run. All good!

[2020-08-28 20:39] #71 closed

[2020-09-08 15:04] taylordaughtry opened #100 "Store static translations in the DB, volume, or some other location than directly on the server."
If I'm understanding the code correctly, the plugin is currently storing static translations that are added/modified by the user in the translations file itself. If the site's deployed via `git`, that file is overwritten and those changes are lost. (If the site uses any sort of multiple instance setup, this also causes issues.)

Here's where the changes would (possibly) need to be made:
https://gi

[2020-09-08 18:23] sidedwards commented on #100
@taylordaughtry thanks for the suggestion, we'll look into this for an upcoming release.

[2020-09-08 18:26] taylordaughtry commented on #100
@sidedwards Hey! Is there any chance we could get a faster patch for this one? It's currently a blocker for the client I'm working with at the moment. (We can't deploy without overwriting the static translations on production.)

[2020-09-08 18:44] sidedwards commented on #100
@taylordaughtry we built our static translation architecture around Craft's [Static Message Translations](https://craftcms.com/docs/3.x/sites.html#static-message-translations) functionality which uses files (`lang/site.php`). So it seems less of a plugin issue and more of a Craft compatibility issue if I understand it correctly.

That said, it looks like others on the Discord channel have had the

[2020-09-09 23:03] ifrimere commented on #100
@taylordaughtry - closing this issue for now as it appears to be a Craft core issue, but if you feel otherwise, please let us know and we can re-open. Thanks.

[2020-09-09 23:03] #100 closed

[2020-10-12 16:58] huelabs opened #102 "Export Translations Order entries to CSV file"
We ran into an issue after importing around 800 translated XML files in which the Draft preview links quit working. Our working Excel files that we were tracking the export/import process now had broken Draft preview links for the linguists. This is not ideal for the linguists during QA because they now have to log into Craft and preview each entry in the Craft UI.

Ideally, we could have mitigate

[2020-10-12 19:02] ifrimere commented on #102
@huelabs - thanks for the feature request. We have added to our roadmap and will let you know once it's available. As a workaround, perhaps the URLs in the xml files can be extracted programmatically to generate a spreadsheet of the URLs.  If the xml files were all upload to a CAT tool like MemoQ, the CAT tool might be able to do this too.

[2020-10-12 21:39] ainigo-metcalfe opened #103 "Small Text Change Suggestion"
Going through connectors for test case creation and noticed that we have SITE listed here instead of either Language or Locale.
Not an emergency just a suggestion - @ifrimere what do you think?

Contentful we use Locale
My Acclaro and plunet we say Source and Target LANGUAGE
so maybe we switch the craft one to one of those versus SITE?

![image](https://user-images.githubusercontent.com/53836618/9

[2020-10-13 00:07] ifrimere commented on #103
@ainigo-metcalfe - this is because of Crafts nomenclature

[2020-10-13 00:07] #103 closed

[2020-10-13 21:24] huelabs commented on #102
Thanks @ifrimere, will do.

[2020-10-13 21:25] #102 closed

[2020-12-03 01:42] sidedwards commented on #86
@taylordaughtry thanks again for reporting this. When a Site is deleted, Craft generally doesn't remove the record, but instead [soft deletes](https://craftcms.com/docs/3.x/extend/soft-deletes.html) it, so a foreign key might not be our best option. That said, `v1.9.0` includes better support for Sites that are deleted.

[2020-12-03 01:45] sidedwards commented on #99
@gregorydavidjenkins `v1.9.0` will include a `resnameCheck()`, which fails files if the resnames don't match the source.

[2020-12-03 16:22] #86 closed

[2020-12-03 16:23] #99 closed

[2021-03-05 22:34] huelabs opened #145 "Some preview URLs for an imported Order produce 404"
There doesn't seem to be a good explanation as to why some entries 404 when previewing the URL in an imported order. Clicking the "Regenerate Preview URLs" doesn't always fix the preview URL, although sometimes it does.

Screen cast: https://download.hamiltonsupport.com/wl/?id=GU3uwIXaER6nUSM9OvsZinJM0GWv0sJ3

Any help or direction is much appreciated.

[2021-03-11 18:30] #145 closed

[2021-04-19 16:38] taylordaughtry opened #157 "Fields aren't translated properly when using child blocks in Neo fields."
Hi! Based on some investigation, it seems that the plugin doesn't currently handle situations where Neo fields use Child Blocks.

Here's the environment where I'm seeing this happen (we're on Craft `3.4.30` and Translations `1.8.2`):
1. We have a Neo field named 'Master Content', which contains two blocks: a 'Sponsor' block and a 'Form' block
2. The 'Sponsor' block has at least one Child Block ena

[2021-04-27 01:02] sidedwards commented on #157
@taylordaughtry this was addressed in [`v1.10.0`](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.10.0). If possible, I recommend upgrading to Craft 3.6+ and the latest version of the plugin.

### References:
- https://github.com/AcclaroInc/craft-translations/pull/140/files#diff-6f471a24890442f792b1c3afbb3e52be0698c1a1c30a620ba5627a3d88faa1ce

[2021-04-27 16:33] #157 closed

[2021-04-30 19:55] chadcrowell opened #160 "Automatically add new entries to order?"
We create all new content on the site in english, and once a month, send those out for translation. We're now running Craft and I am testing out this translations plugin. Is there a way, or could you add a feature so that, whenever a new entry is created, it is automatically added to the current pending order?

If not, is there a command I could execute in a plugin on a new entry save event to add

[2021-04-30 22:08] ifrimere commented on #160
@chadcrowell - thank you for submitting this feature request. I'm not sure about whether a Craft command (rule) could be set up to access the Translations plugin, find the 'pending order' and add the new Entry to it.

Our dev team will evaluate this feature request and if we can get a straight forward solution into an upcoming sprint, we will let you know. Besides adding the newly saved Entry to a

[2021-04-30 22:24] chadcrowell commented on #160
Thanks for the response. Honestly, yes, both automatically adding an edited entry to a pending order, and creating a new pending order if one doesn't exist would be very helpful. Beyond that:

1. Adding an edited global to a pending order
2. Ability to translate asset titles and custom fields by adding them to an order (and possibly auto adding them to pending order when uploaded, although editors

[2021-05-05 15:53] chadcrowell opened #165 "How can I mark all entries on a site as "already translated"?"
Trying out the plugin on a site with 6 languages. This site's Craft install is a replacement content management system for an old ExpressionEngine 2 install - thus, all the entries already have translations. I'd like to take advantage of the "Modified Source Entries" widget on the dashboard, but the plugin thinks that none of my entries have ever been translated. Is there a tool I can use, or a qu

[2021-05-05 16:10] ifrimere commented on #165
@sidedwards - do you have any ideas that can help @chadcrowell with this request. Thanks.

[2021-05-13 18:00] sidedwards commented on #160
Hi, @chadcrowell thanks for reaching out.

This sounds like it could be a helpful feature; what are your thoughts on a setting whereby the user can target new Entries _within selected Sections_ to give more control over what content should be automatically added to an order?

I think creating draft orders based on editing/publishing actions could be interesting in the broader context of an "Automa

[2021-05-13 18:06] chadcrowell commented on #160
Yes, great idea. Some sections don't get translated. Makes sense.

Sounds like a good direction. I know Craft evaluates changes to fields on an entry to decide whether a draft should be saved, and/or if the "do you really want to leave the page" dialog is popped up. Wondering if you could leverage the same to detect if any fields changed (or even fields marked as translatable) on entry/global/asse

[2021-05-14 18:44] sidedwards commented on #160
@chadcrowell thanks for the response.

We'll continue to scope out a feature for some of the automation features discussed; we'll aim to include it in an upcoming `v2.0` release of the plugin.

The plugin does not currently support this, but I think it's a great idea. If you could open a separate ticket with details on desired functionality, we can track our progress there.

Thank you!

[2021-05-14 20:41] BAM-Dennis opened #167 "Support for section propagation method "custom""
P&T added a new feature in craft 3.5.0 called PROPAGATION_METHOD_CUSTOM for sections.

see: https://github.com/craftcms/cms/blob/main/src/models/Section.php#L45

We are currently testing your plugin and this is a core requirement. Imagine the following scenario:
- Entry in "Site A" (Propagation Method custom)
- Export Content
- Import contentt
- Apply Translation --> Error because Draft for entry

[2021-05-14 20:50] ifrimere commented on #167
@BAM-Dennis - thanks for reporting this. We will look into it and follow up with questions and ideas shortly.

[2021-05-14 22:07] sidedwards commented on #167
@BAM-Dennis I did some initial testing with the  "Let each entry choose which sites it should be saved to" propagation method and as long as the Site was added to the Entry, even if disabled, applying translation drafts worked as expected.
<img width="371" alt="image" src="https://user-images.githubusercontent.com/11489608/118335297-9325fb00-b4cc-11eb-8c4a-3e1c401bf651.png">

Please try adding the

[2021-05-15 11:24] BAM-Dennis commented on #167
@sidedwards thanks for youre reply.

i am totally aware, of how that works and what i need to do implement it. But we are in a scenario, where we have a few hundred entries in 34 different sites.

It is not the best user experience, for the editors, to import an order for multiple entries, and after applying trying to find out, which one of those multiple ones should be enabled.

what i suggest is

[2021-05-17 16:08] chadcrowell opened #168 "FR: Allow for assets to be added to translation order even if not related to entry"
We have many assets on a 6 language site that are not attached to an entry, but do show up on the site. In our case, they are product documentation PDFs that are categorized and show up in search results for docs as well as categorized lists.

I don't believe adding an asset to an order upon upload makes sense, because it is unlikely that the asset title or any custom fields would have been popula

[2021-05-27 14:16] robmcfadden opened #170 "Allow translation of Asset titles"
Asset fields were recently added to the export: https://github.com/AcclaroInc/craft-translations/issues/8

This is great, but sometimes sites are using the title for the alt text instead of a field or for other reasons. If the title wasn't intentionally ignored for some reason, can we add that in?

https://github.com/robmcfadden/craft-translations/blob/asset-title-support/src/services/fieldtransla

[2021-05-28 23:16] ifrimere commented on #170
@robmcfadden - thanks for the ticket and more thanks for the PR offer.

@sidedwards is going to look into this and will get back to you with any questions, requested edits to the PR proposal and guidance about the branch where it can be placed against.

Thanks.

[2021-06-02 14:41] masonry47 opened #171 "Notes Field Type"
We are wanting the translations plugin to support for this custom field type.

https://plugins.craftcms.com/notes

Thanks!

[2021-06-02 23:03] sidedwards commented on #170
@robmcfadden great catch! We have existing logic to handle updating Asset titles from XML files, but must have missed it for file generation. Your proposed fix looks good and I've confirmed that it works as expected. Please create a new branch off of `master` called `bug/asset-title-fix`, and I can merge it in with our next release `v1.10.5`.

Thanks!

[2021-06-02 23:22] sidedwards commented on #167
@BAM-Dennis rather than a manual action, what are your thoughts on adding logic for applying drafts to add target sites to the selected entries automatically? I think it's safe to assume we'd want the target site added and enabled for the Entry within the context of the translation order.

[2021-06-03 04:04] BAM-Dennis commented on #167
@sidedwards I think it is safe to assume, at this point, that the entry for this site should be enabled and that the draft should be created.

The user has already brought a tranaslation file for this entry, so i think we are safe here!

[2021-06-03 12:40] robmcfadden commented on #170
@sidedwards Great, thanks! PR is going into `master` for now. Base branch can be changed to `release/1.10.5` once available.

[2021-06-03 16:05] sidedwards commented on #170
@robmcfadden merged #172 into [`release/1.10.5`](https://github.com/AcclaroInc/craft-translations/compare/release/1.10.5), thanks for the contribution!

[2021-06-03 16:05] #170 closed

[2021-06-11 18:23] sidedwards commented on #167
@BAM-Dennis support for this was added in [Release/v1.10.5](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.10.5)

[2021-06-11 18:23] #167 closed

[2021-06-11 18:27] sidedwards commented on #171
While investigating adding support for this plugin, we noticed that the original issue raised exists within standard draft workflows and isn't related to the Translations plugin.

Please see the attached screen recording for details; here are the steps to reproduce:

1. Create a new draft for an Entry containing a "Notes" field.
2. Refresh the page OR switch to a different site via the dropdown.
3

[2021-06-11 18:27] #171 closed

[2021-06-11 18:51] masonry47 commented on #171
Got it, will do. Thanks!

[2021-06-24 11:54] BAM-Dennis opened #179 "Blank install of v1.10.5, creating order not working"
Hey,

we are currently testing around with your plugin. Creating a blank craft instance and installing the latest version fails with an error when submitting an order.

if we install 1.10.4 first und upgrade to 1.10.5 after that it works. So i think there is something missing in some migrations.

[2021-06-24 14:14] sidedwards commented on #179
Hi @BAM-Dennis, thanks for reaching out; v1.10.5 included a new database column that was missing from install.php. Please try updating to [v1.10.6](https://github.com/AcclaroInc/craft-translations/releases/tag/v1.10.6) to resolve the issue. Thanks!

[2021-06-24 14:14] #179 closed

[2021-06-28 18:25] taylordaughtry opened #182 "Issue applying Drafts [re: missing fields - neo, lightswitch, assets]"
Hi!

I'm encountering an issue in Craft 3.6.15 where I'm unable to apply an Order to an Entry. It seems to happen with a specific Order; I've attached the error output + XML I'm attempting to import (I just exported the Order + attempted to reimport the same content). Let me know if you need anything else!

[XML ZIP](https://drive.google.com/file/d/1XAaoyjE_2Y-lEzWjtGTsJDVGuO3z8i0r/view?usp=sharin

[2021-06-28 20:20] ifrimere commented on #182
@taylordaughtry - would you mind updating to the latest plugin version (1.10.6) and if the issue isn't resolved, please send us the plugin logs too. thanks. fyi @sidedwards @shnsumit

[2021-06-28 20:53] taylordaughtry commented on #182
Hey—sorry, typo in the title! I'm running latest (`1.10.6`).

I was doing more debugging on my end, and found that the XML export doesn't seem to have certain fields (like Neo and a lightswitch Field) present within an Entry. Note the two Image fields in the GUI that aren't present in the XML. (The lightswitch field seems to be missing from the XML, as well.)

I know we've chatted about Asset and

[2021-06-28 20:58] ifrimere commented on #182
@taylordaughtry - thanks for the extra info, this is helpful. We will investigate and follow up if with details, or request for more info (ex. staging site access, db dump, etc...). fyi @sidedwards @shnsumit

[2021-06-30 15:40] matthewmrotter opened #183 "Indexing Error on Import"
We're applying an import/export of a page with a matrix block.

The matrix block goes text 1->image->text 2->text  3 but when the translation is applied, text 3 is in text 2's spot and nothing appears in text 3.

Craft CMS 3.5.18
Translations v1.9.4

[2021-06-30 15:45] sidedwards commented on #183
Hi @matthewmrotter, can you please try updating the plugin to a more recent release and see if that resolves the issue?

[2021-06-30 15:49] matthewmrotter commented on #183
@sidedwards does the new version of Translations require an updated version of Craft as a dependency? Don't see the option to upgrade in the CP

[2021-06-30 15:58] sidedwards commented on #183
@matthewmrotter v1.10.0+ requires Craft ^3.6.0; is it possible to update Craft?

[2021-06-30 18:17] taylordaughtry commented on #182
@ifrimere  Hi! Is there a rough timeline on when we might have more info on this one? It's becoming a blocker for the client to continue working with translations on their production site.

[2021-06-30 18:30] sidedwards commented on #182
Hi @taylordaughtry, thanks for reaching out. Would you mind reproducing the issue and sending the logs to support@semantic.dev?

[2021-06-30 18:57] ifrimere commented on #182
@taylordaughtry @sidedwards - it might be best to set up a screen share call too.  Can you coordinate with each other. Thanks.

[2021-06-30 22:41] taylordaughtry commented on #182
@sidedwards  The logs on this site are a bit tricky to get (it's running in Heroku w/ a log drain to Sumologic); I'll see what I can do.

PS: I'll get someone on my side to get in touch with some times for us to chat; I'm sure it'd help you a ton to see it happen live! At the least I can send a quick screen recording on it.

[2021-07-02 14:41] taylordaughtry commented on #182
(Potential) context here: it seems that files uploaded to Craft by the plugin are encoded with something other than UTF-8 or similar; check it out: (I can show you this on the call later today as well, of course)

![Image](https://i.imgur.com/EilfdKf.png)

[2021-07-02 16:15] sidedwards commented on #182
@taylordaughtry that's odd, we do use UTF-8 encoding for uploaded documents. See here: https://github.com/AcclaroInc/craft-translations/blob/master/src/services/job/ImportFiles.php#L74

[2021-07-08 00:44] sidedwards commented on #182
This issue is caused by an interaction with the [`ostark/upper`](https://github.com/ostark/upper) plugin where specific Neo and SuperTable field layouts fail on the [`ElementHelper::isDraftOrRevision()`](https://github.com/ostark/upper/blob/master/src/EventRegistrar.php#L214-L217) check when applying translation drafts. This is because the field's owner Element may no longer exist after [`deleteAu

[2021-07-08 00:44] #182 closed

[2021-07-08 16:24] sidedwards commented on #183
@matthewmrotter, just following up, did upgrading resolve your issue?

[2021-07-08 16:25] matthewmrotter commented on #183
We've been unable to do a content freeze to update the site yet, I'll make this as closed and we'll test it out whenever we're able to update.

Thanks!

[2021-07-08 16:25] #183 closed

[2021-08-19 15:10] taylordaughtry opened #188 "When importing translated content, an error of `Call to undefined method DOMNodeList::getAttribute()` is occasionally thrown."
Based on a quick review locally, it appears the error's coming specifically from `ImportFiles.php:104`—where the `source-site` is being fetched.

I just emailed a copy of the project config and the zip file with the XML the client's attempting to import!

**Environment:**
- Craft Pro `3.6.17`
- Acclaro `v1.10.6`
- PHP version `7.3.29`

[2021-08-24 15:28] sidedwards commented on #188
Thanks, @taylordaughtry, let me take a look and get back to you with more info.

[2021-08-31 18:28] taylordaughtry commented on #188
Hi @sidedwards! Following up on our Slack conversation: last we saw this, the issue ended up coming from something that's happening internally when the Acclaro team updates translation file(s), moreso than a plugin issue.

I know was a while back, but were you ever able to suss out where that's happening, by chance?

[2021-09-01 17:32] ifrimere commented on #188
@taylordaughtry - if your investigations yield results that something is up with the translation files status/formatting, etc..., and not the plugin, please work directly with the project manager for the customer, who in turn can work with the localization engineering team to make changes for the translation files format. Thanks.

[2021-09-03 12:46] #188 closed

[2021-09-03 12:48] ifrimere commented on #88
@taylordaughtry - thanks for this suggestion. @sidedwards and our dev team put quite a bit of research into this, but the lack of features the native Craft XML export provides that are needed to match up all the fields on translations import for right now, make the effort to switch over our current app;s infrastructure not worth doing. We will however keep an eye on how Craft further evolves their

[2021-09-03 12:48] #88 closed

[2021-09-15 08:22] sfsmfc opened #202 "Using getCanonicalId() instead of getSourceId() for drafts"
Removing deprecation messages for using getSourceId in Craft CMS until version 3.7.x by using getCanonicalId instead.

see also Pull-Request: https://github.com/AcclaroInc/craft-translations/pull/201

[2021-09-15 23:27] ifrimere commented on #202
@sfsmfc - thank you for reporting this issue. We will have this issue addressed in v2.0 of the plugin due out by end of the month. I think the issue is actually already resolved in a WIP PR that is under QA right now. fyi @shnsumit @sidedwards

[2021-09-16 20:36] taylordaughtry commented on #188
@sidedwards Hi! Update on this issue—the client encountered it again! I've separately emailed a copy of the ZIP file that's causing the issue.

I thought of a few areas where it could _possibly_ be coming from:

- The file upload process itself within the plugin (perhaps the encoding of these specific files isn't able to be coerced into UTF-8)
- In `ImportFiles.php:74` the plugin declares UTF-8, b

[2021-09-16 22:18] sidedwards commented on #188
Hi @taylordaughtry, thanks for following up. While testing locally, did you try explicitly setting the encoding after `loadXML()` with the `$xmlDoc->encoding = "utf-8";` example in the reference above?

If you're able to create an order on a staging environment that consistently reproduces this issue, that would be a huge help in getting to the bottom of this.

[2021-09-17 01:44] sidedwards commented on #202
Closing; this was addressed in https://github.com/AcclaroInc/craft-translations/pull/184

[2021-09-17 01:44] #202 closed

[2021-09-17 15:06] taylordaughtry commented on #188
I did, with no change in the result, unfortunately. I'll look into pulling the prod DB down to staging for you while you're looking at the issue on your side!

[2021-09-17 15:09] sidedwards commented on #188
@taylordaughtry thank you, that would be great!

[2021-09-23 16:40] masonry47 opened #211 "Merge Issue with Drafts created From Plugin"
Hi!

We think we have uncovered a bug which seems to be related to the new Craft merge feature into drafts which recently added [matrix blocks](https://github.com/craftcms/cms/pull/7710).  This issue seems to only happen with Acclaro created drafts and we think it only occurs with drafts using Matrix blocks as a "page builder" type field.

Steps to recreate.

1. Create an entry using a matrix fiel

[2021-09-23 18:12] sidedwards commented on #211
Hi there,

Thanks for reaching out; this is a known issue introduced in Craft 3.7.9, and we have addressed it in our upcoming v2.0 release.

PR for reference: https://github.com/AcclaroInc/craft-translations/pull/199

[2021-09-23 18:16] ifrimere commented on #211
@masonry47 - we are planning to have v2.0 release ready within the next week or so. Thanks.

[2021-09-28 16:02] masonry47 commented on #211
Thanks @sidedwards and @ifrimere

I think we found something else at least remotely related.  But when trying to apply translations that are translated matrix blocks, we are getting an "invalid owner id".  The translation does apply succesfully in one language but each other language gets the error.  See attachment and thanks!

![Screen Shot 2021-09-28 at 10 47 58 AM](https://user-images.githubuse

[2021-09-30 03:15] sidedwards commented on #168
Hi @chadcrowell, thank you for suggesting this feature.

As of [`release/2.0`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.0.0), you can translate Asset fields by adding the Asset to an Order directly v.s referencing within an Entry.

[2021-09-30 03:15] #168 closed

[2021-09-30 03:15] sidedwards commented on #188
This issue occurred when there were specific XML validation errors (i.e., "double hyphen within comment") within `.zip` files.

When uploading a ZIP with a file containing the invalid XML:

[code]

it triggers the display error notice:

[code]

and posts the following message in the Order activity log:
[code]

[`release/2.0`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.0.0) pr

[2021-09-30 16:17] sidedwards commented on #211
@masonry47

This issue is resolved in [`release/2.0`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.0.0).

[2021-09-30 16:43] #211 closed

[2021-10-07 22:09] #95 closed

[2021-10-08 14:05] internetztube opened #231 "Migration Exception"
Hi!

I am getting this migration exception when updating from `v1.10.6` to `v2.0.1`.

[code]

[code]

[2021-10-15 20:41] masonry47 opened #237 "XML Export Missing Blocks when using same Block Type"
Hi again!

We are testing the latest version of the plugin (2.0.1) on Craft 3.7.15 and having the following issue.

- Create an entry with a matrix field with multiple block types (page builder style).
- Use the same block type more than once
- Create Translation Order (import/export)
- Export XML
- On block types that were used more than once, you will only see the second instance of the block ty

[2021-10-21 19:31] taylordaughtry commented on #231
@sidedwards  Hi! Is there a timeline for this, by chance? (We're also seeing the same issue with our client)

[2021-10-25 17:05] LinneaHarts opened #247 "File failed to import due to the resname mismatches in the XML."
My client is using a non-Acclaro translation service and they are sitting on translations for a while. By the time I'm importing them, I get this error.

When I create a new order and download the XML, I see that the resnames have different IDs.

Is there anything I can do about this besides manually fixing the XML files?

[2021-10-25 20:03] #237 closed, assigned to sidedwards

[2021-10-25 23:51] #247 closed, assigned to sidedwards

[2021-10-28 18:55] #231 closed, assigned to sidedwards

[2021-11-08 21:20] taylordaughtry opened #255 "Array to String Conversion when importing a ZIP file"
I'm gathering more specific information on replication now, but I thought I'd go ahead and open an issue to see if this is a known-bug just yet! My client was uploading a ZIP file they recieved from the Acclaro team after translation, and after uploading the file ran into the error in the stack trace below!

I _think_ the offending line could be [here](https://github.com/AcclaroInc/craft-translati

[2021-11-08 22:45] masonry47 opened #256 "Order details template error"
Hi there,

We recenlh updated to 2.0.3 are are getting a template vaiable error.  See screenshot and thanks!

<img width="1618" alt="Screen Shot 2021-11-08 at 4 35 54 PM" src="https://user-images.githubusercontent.com/48130527/140830069-20d85918-a137-45e9-a459-37930c3e339a.png">

[2021-11-09 00:03] sidedwards commented on #256
@masonry47, thanks for reaching out; we'll investigate on our end and post an update here once we have more information.

[2021-11-11 17:49] masonry47 opened #260 "Merge and Apply Button"
Hey @sidedwards, we are seeing another issue with duplicating blocks, and some other strange behavior, in particular when using the merge and apply draft button, as opposed to using the "merge into draft" button, then applying with the entry.  When using the latter workflow, things seems to work fine (though there is some quirkiness here to). We think it may also have to do with this propagation s

[2021-11-12 22:23] #255 closed

[2021-11-12 22:23] #256 closed

[2021-11-16 16:50] ainigo-metcalfe opened #266 "Regression tests open questions 11.16"

[2021-11-16 16:53] #266 closed

[2021-11-29 19:45] jasonmckinney66 opened #268 ""Review Changes" looks good - "Merge into Draft" & "Merge and Apply Draft" fail"
On some entries, when applying test translations, certain fields fail to merge and some matrix blocks get wiped out entirely. As stated, they appear fine in the "Review Changes" section, but fail to merge properly.

I've tried to isolate a pattern within the failed items but cannot. In many cases, they are the same entry types and same fields as the successful items. The only variance would be the

[2021-11-29 20:40] ifrimere commented on #268
@jasonmckinney66 - thank you for posting this ticket. Can you confirm the version of Craft OS and version of the Translations plugin you are using. Some recent updates were posted in v2.0.5 that addressed some merge issue. If you are able to share the failing XML files that would be great too. Thank you.

[2021-11-29 20:54] jasonmckinney66 commented on #268
Thanks for the response. Yes here is the information:

Craft CMS 3.7.13
Translations v2.0.1

The attached items are an original and test item sent by the translators. In this case, the merge partially failed but there there were no Matrix fields present in this entry.

Thanks in advance.

J

JASON MCKINNEY   t: 415.462.8080 x200   w: bluecoastweb.com <http://www.bluecoastweb.com/>
.

On Nov 29, 20

[2021-11-29 20:58] ifrimere commented on #268
@jasonmckinney66 - we made quite a few updates in the plugin in this area over the last few weeks. Can you update to v2.0.5 and let us know if the issues you are facing are resolved OR if they are still outstanding. Thanks.

[2021-11-30 00:33] jasonmckinney66 commented on #268
Thanks for the suggestion. After the update, I ran some tests and they look good so far. Thanks again for your help.

[2021-11-30 00:33] #268 closed

[2021-12-01 14:11] ifrimere commented on #260
@masonry47 - Please reference this ticket:  **Matrix blocks duplicate on save when creating a new entry** craftcms/cms#10130 (comment)

[2021-12-02 12:55] sidedwards commented on #260
### 🆕 Updates
- FYI, @brandonkelly confirmed a fix in the next release https://github.com/craftcms/cms/issues/10130#issuecomment-984286189

### 🔗 References

[2021-12-02 14:48] masonry47 commented on #260
Thanks so much @sidedwards and @ifrimere!

[2021-12-02 14:50] #260 closed

[2021-12-30 15:58] davidhellmann opened #281 "No compatible with Guzzle 7?"
Tried to install the plugin but get this errors:
[code]

CraftCMS Version: Craft CMS 3.7.26

[2021-12-30 16:14] masonry47 commented on #260
@sidedwards and @ifrimere,  we are continuing to see this issue after the update.  The scenario on the Craft issue is corrected with the Craft update, when we follow those steps all is good.  So I think (not positive) that this is on the plugin side and it still has to do with the " Let each entry choose ..." propagation setting.   When we "merge and apply" the behavior is still strange in that it

[2022-01-07 19:02] sidedwards commented on #281
@davidhellmann please try with [`v2.1.1`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.1.1) to see if that resolves the issue for you.

[2022-01-07 19:02] sidedwards commented on #260
@masonry47 please try with [`v2.1.1`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.1.1) to see if that resolves the issue for you.

[2022-01-07 19:33] masonry47 commented on #260
Thanks @sidedwards

The update actually killed the backend with the following error.  Any ideas?  Thanks!

Class 'acclaro\translations\services\AcclaroService' not found

[2022-01-07 19:36] masonry47 commented on #260
@sidedwards just deleted previous comment....  reverted and reinstalled and all fine.  Will test on the issue and keep you posted.

[2022-01-07 19:46] masonry47 commented on #260
@sidedwards resolved.  Thanks!

[2022-01-13 19:06] masonry47 opened #289 "Language Pair Not supported"
Hey Team

We are experiencing a completely new issue when submitting an order.  It only occurs when targeting one language (Japan), other languages submit find.  Or if Japanese is the source and anything else is the target, we get another error. We have not changed any config on our side.  Here is the response and thanks!

![MicrosoftTeams-image](https://user-images.githubusercontent.com/48130527/

[2022-01-14 16:41] #281 closed

[2022-01-14 18:28] sidedwards commented on #289
@masonry47, which version of the plugin are you currently using?

[2022-01-14 18:32] masonry47 commented on #289
v2.1.1. Thanks!

[2022-01-19 10:04] timrosskamp opened #294 "Non-translatable title still included in translation order export"
When setting the entry title or asset title to be "not translatable" it's still included in the export when creating a translation order.

Is this by design? I expected this field to be excluded from the export since it will be overritten for other sites when importing again.

[2022-01-21 17:44] #289 closed

[2022-01-21 17:44] #294 closed

[2022-01-21 17:46] sidedwards commented on #289
@masonry47, thanks for reporting; this issue was resolved in [`v2.1.2`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.1.2).

[2022-01-21 17:47] sidedwards commented on #294
@timrosskamp, thanks for reporting; this issue was resolved in [`v2.1.2`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.1.2).

[2022-01-22 10:25] timrosskamp commented on #294
Thanks for the quick fix!

[2022-01-28 15:53] AlexShearcroft opened #301 "NEO field and chosen propagation method not saving to all entries when applied"
We're currently experiencing issues with our orders and them being applied to entries for multiple sites (languages).

When raising an order for an entry and selecting multiple sites (e.g. 5 sites) the NEO field blocks do not translate across all languages on "apply draft" or "merge and apply draft" but only one. This also happens if the same entry is listed in other orders and applied at a later

[2022-01-31 18:06] sidedwards commented on #301
@AlexShearcroft, this specific issue also happens with "localized" Neo blocks and native Craft drafts (i.e., outside the Translations plugin workflow). I opened an issue with [`spicywebau/craft-neo`](https://github.com/spicywebau/craft-neo), providing additional details and steps to reproduce.

Unfortunately, we were unable to find any additional workarounds aside from the propagation method updat

[2022-02-01 12:22] sidedwards commented on #301
@AlexShearcroft, this issue has been resolved in [Neo `2.12.4`](https://github.com/spicywebau/craft-neo/releases/tag/2.12.4).

The update also fixes a block duplication issue that often occurs in the same scenario. I would recommend manually removing any duplicated Neo blocks, updating Neo to the latest version, and retrying the translation workflow.

### 🔗 References
- https://github.com/spicyweb

[2022-02-01 12:22] #301 closed

[2022-02-15 15:39] kristoffeys opened #305 "Importing gives errors when not having the "main" site as source"
https://github.com/AcclaroInc/craft-translations/blob/36908f92f7243f181d3ec647d607057c4e6cc3af/src/services/repository/DraftRepository.php#L173

If we try to import a translation where the sourceSite is not our default site, the code above returns `null`.

By changing `$order->siteId` to `$order->sourceSite`, this seems to be fixed, is this a bug or am I missing something?

[2022-02-15 17:02] sidedwards commented on #289
@masonry47, could you please provide some additional details? We were able to successfully place the following test orders:

1. `en-US` to `ja-JP`
2. `ja-JP` to `en-US`

[2022-02-15 17:56] sidedwards commented on #289
@masonry47, please try again; these specific ISO mappings are now enabled in the My Acclaro API.

[2022-02-15 18:16] masonry47 commented on #289
Seems to have had a positive effect but still getting fr to pt-BR issue.

[2022-02-15 22:49] masonry47 commented on #289
That got it.  Thanks!

[2022-02-21 21:13] sidedwards commented on #305
@kristoffeys, this was addressed in release [`v2.1.3`](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.1.3).

[2022-02-21 21:13] #305 closed

[2022-03-23 08:36] bitboxth opened #319 ".xml does not match any known entries."
When I export an XML file and import it translated, I always get the error:
'*.xml does not match any known entries.'
I simply created a new job, downloaded the XML file and uploaded it again.

The IDs of the matrix fields look different.

This is how it looks with a new export
[code]

This is the 'old' export with the current translations.
[code]

Craft version: 3.7.23
PHP version: 7.4.28
PHP DOM

[2022-03-23 12:43] ifrimere commented on #319
Issue resolved with newly created order export/import workflow.

[2022-03-23 12:43] #319 closed

[2022-04-06 20:30] tekstrand opened #322 "Integrate with Smartling"
We'd like to explore adding Smartling as a service into this plugin. Is that something that Acclaro would be open to receiving PRs into this repo for?

[2022-04-08 13:04] blafferty commented on #322
Thank you for posting here, Tommy. Could you connect with me by email? blafferty@acclaro.com

[2022-04-20 14:29] davidhellmann opened #328 "CraftCMS 4 Support"
Hey, are there plans to be ready with the CraftCMS 4 launch? Or maybe a rough timeline?

Thanks :)

[2022-04-21 19:56] sidedwards commented on #328
@davidhellmann, we are still in the process of testing the plugin with Craft 4 (beta). We will update this ticket once we have more information regarding a timeline.

[2022-05-19 22:16] lauriechu opened #333 "Microban EN translated pages are picking up EN URLs"
**ISSUE:**
On this [newly created page](https://www.microban.com/tw/antimicrobial-solutions/overview/antimicrobial-additives)
- All the links in the (Craft) body/text field are going to EN pages
- (Buttons are okay but perhaps there was no need for translation)

**PROCESS:**

1. Content is created in EN as a New Entry in Craft
2. Links are added to the page by selecting "Link to an entry" (attache

[2022-05-23 20:58] masonry47 opened #334 "Order Status Sync Issues"
Hey Acclaro!

We are having an issue with orders in Craft are showing as "In Progress" that are assigned as complete in Acclaro.

Craft: 3.7.28
Acclaro Plugin:v2.1.4

Thanks!

[2022-05-23 22:43] sidedwards commented on #333
@lauriechu, thanks for reaching out. From what you described, it seems that this particular issue is related to Redactor link settings. When reviewing the Redactor link settings in the referenced Entries, it looks like the link "sites" are set to English which would explain the issue you're seeing.

Would you mind updating the Site settings to "Multisite" to see if that resolves the issue?

### 📚

[2022-05-23 22:49] sidedwards commented on #334
@masonry47, thanks for reporting this issue. Could you please send any relevant logs to sid@semantic.dev?

[2022-05-27 06:28] davidhellmann commented on #328
Hey,

any news or rough timeline? Just asking you to plan how we go one with our craft4 update plan :)

Cheers

[2022-05-31 18:12] sidedwards commented on #328
@davidhellmann, support for Craft 4 will be included with [`release/2.3.0`](https://github.com/AcclaroInc/craft-translations/tree/release/2.3.0) with an expected release for mid-June.

[2022-06-09 17:11] ryan-kershner opened #341 "Issue accessing order"
Steps:

1. Synced and merged files in a different order with the same files for a different language (pt-br)
2. Attempted to access the order (ja)
3. Received error message
4.
[error.txt](https://github.com/AcclaroInc/craft-translations/files/8872507/error.txt)
![image (10)](https://user-images.githubusercontent.com/75766620/172905223-8068f41d-cff2-4974-8077-088198b38be5.png)

[2022-07-01 19:56] sidedwards commented on #334
Closing; this was an API issue and unrelated to the plugin.

[2022-07-01 19:56] #334 closed

[2022-07-01 19:57] #333 closed

[2022-07-06 13:11] sidedwards commented on #341
@ryan-kershner this issue should be resolved as of [v2.2.2](https://github.com/AcclaroInc/craft-translations/releases/tag/v2.2.2).

[2022-07-15 06:35] davidhellmann commented on #328
Nice! Installed it.
When I go to settings > translations it comes up this:
[code]

[2022-07-19 19:56] LinneaHarts opened #363 "Translation.log files filling up every 30 min"
The plugin's translation.log files are filling up every 30 minutes on Craft because it seems to be logging every single page view.

Is there a setting to turn down or turn off logging?

[2022-07-26 13:17] sidedwards commented on #363
Hi @LinneaHarts, thank you for reaching out. You can disable logging from the Translations > Settings > Configuration options screen. However, we will investigate this issue to see if there is anything else that can be done.

### 📚 Resources
![CleanShot 2022-07-26 at 14 14 26@2x](https://user-images.githubusercontent.com/11489608/181014743-56d00cb4-70fd-4086-9ee6-ed995510154f.png)

[2022-07-26 13:20] LinneaHarts commented on #363
Thank you! I thought I might be missing something!

On Tue, Jul 26, 2022 at 9:17 AM Sid Edwards ***@***.***>
wrote:

--
---------
Linnea Hartsuyker
Author: The Half-Drowned King
<https://www.indiebound.org/buy-local/9780062563705>, The Sea Queen
<https://www.indiebound.org/buy-local/9780062563729>, and The Golden Wolf
<https://www.indiebound.org/buy-local/9780062563743> from HarperCollins
www.linn

[2022-07-27 19:48] masonry47 opened #371 "Custom SEO Image Missing in Translation Draft"
Hey Acclaro Team,

We think we may have found a bug.

When a user selects the custom image Icon for the the "SEOMatic SEO Image field" as part of an entry.. like so

![Screen Shot 2022-07-27 at 2 39 51 PM](https://user-images.githubusercontent.com/48130527/181357922-e8264352-17a3-4900-9eba-7984f413ff88.png)

When the order comes back with translations, the selected image is missing from the field

[2022-07-27 20:07] LinneaHarts commented on #363
Actually, I already have this off and it is still logging a huge amount. I don't see a config option that would override this anywhere either.

[2022-07-28 12:28] shnsumit commented on #363
@LinneaHarts Above setting was disabling the API logging but not the whole plugin logs. We have extended that setting to enable/disable all plugin logs.
It will be available soon in **v2.2.3**.

[2022-07-28 13:21] #341 closed

[2022-07-28 13:25] ryan-kershner commented on #341
Awesome, thanks!

[2022-08-01 15:24] #363 closed

[2022-08-01 15:24] #371 closed

[2022-08-11 13:50] davidhellmann commented on #328
Hey @sidedwards, any news here? I do not want to be annoying but a rough new date would be great so that we can plan a little :) Thank you!

[2022-08-19 12:07] shnsumit commented on #328
@davidhellmann  Hey,
We are planning to release `v3.0.0`  by the end of next week, the reported issue above should be handled on next release.

[2022-08-24 21:14] lucascallado commented on #328
Thanks, @shnsumit and @sidedwards!

[2022-08-25 07:31] #328 closed

[2022-09-06 09:50] amkdev opened #387 "Version 3.0.0 - Installation failed on Craft CMS 4.2.3"
PHP Warning - yii\base\ErrorException : Attempt to read property "logHelper" on null".

The installation is not completed correctly. After this failed installation, the plugin is not fully usable.

<img width="576" alt="Bildschirmfoto 2022-09-06 um 11 31 26" src="https://user-images.githubusercontent.com/5300389/188603897-7c37fc76-1740-4376-95fd-5a670586ad08.png">

[2022-09-06 14:56] amkdev opened #391 "3.0.1: Setting unknown property: acclaro\translations\records\OrderRecord::trackTargetChanges"
I got another error on creating the first order.

The strange thing is that this error only occurs online (productive system) ...
But in my local enviroment I’d already installed the 3.0.1. version form the release/3.0.1 branch via composer. Deinstalled it later to install the public new release (3.0.1) ... like on the productive enviroment.

![grafik](https://user-images.githubusercontent.com/530

[2022-09-12 19:19] shnsumit commented on #391
@amkdev
Looks like we are not able to reproduce this issue in any case while upgrading from the lower version to v3.0.1 or in a fresh install. Database column trackTargetChanges is missing from the database, that might be due to any manual changes in the database, or version upgradation with an unusual composer plugin update.

### ⏭️  Next Action
1. I would like to know if there are anything speci

[2022-09-13 05:57] amkdev commented on #391
@shnsumit
Thanks for the reply.

Installation and activation of the plugin was made via a normal (automatited) deployment process to a productive environment. That means: plugin was installed locally via Craft's control panel. New project config was pushed to gitlab. The gitlab pipe runs "composer install" and then "craft up" in the end.

I will try to uninstall and reinstall it now.

[2022-09-13 07:58] amkdev commented on #391
After un- and re-install it works. I'm sorry I stole your time unnecessarily.

Thank you very much anyway.

[2022-09-13 07:58] #391 closed

[2022-09-20 07:54] amkdev opened #392 "3.0.1: Download fails with Firefox"
I have heavy trouble downloading translations files (csv, xml) etc. with Firefox.

No JS-Errors. Firefox seems to do something first but then no download request appears.

By chance I have tried Chrome and it simply works.

[2022-09-20 21:35] sidedwards commented on #392
@amkdev thank you for reporting this issue. We'll investigate this and see if we can reproduce.

[2022-09-21 16:37] jankohlbach opened #394 "craft commerce support?"
Hello,

just wanted to ask if there is a chance that we also can handle translations for product entries from craft commerce with your plugin. Haven't seen that anywhere.

[2022-09-21 20:59] sidedwards commented on #394
Hi @jankohlbach, thank you for reaching out. We plan on including Craft Commerce support in v3.1 of the Translations plugin.

[2022-09-21 21:27] jankohlbach commented on #394
hey @sidedwards
thanks for the quick reply, sounds great that you want to add support ❤️

[2022-09-23 14:26] masonry47 opened #400 "Error On Submitting Order"
Hey Acclaro team,

We are seeing a potential issue when submitting orders.  We are seeing this "Serialization of 'Closure' is not allowed" flash message in the CP.  But do not see anything related in the logs.  When testing locally we are sometimes able to successfully create an order with a single entry, but we always see the error when submitting an order with multiple entries.

We are on Craft

[2022-09-23 16:31] sidedwards commented on #400
Hi @masonry47, thank you for reaching out. We haven't come across this error before; would you mind reaching out via email so we can follow up with the next steps to investigate further?

[2022-10-12 20:36] sidedwards commented on #400
Resolved in https://github.com/AcclaroInc/craft-translations/pull/404

[2022-10-12 20:36] #400 closed

[2022-11-16 11:28] sidedwards commented on #394
@jankohlbach fyi, we included support for Craft Commerce in [`v3.1.0`](https://github.com/AcclaroInc/craft-translations/releases/tag/v3.1.0). Let us know if you have any further questions.

[2022-11-16 11:28] #394 closed